@media (prefers-color-scheme: dark) {

  :root {
    --background-image: url(../images/cover-image-dark.png);
  }
}

:root.theme-dark {
  --background-image: url(../images/cover-image-dark.png);
  --accent-color: #ff0070;
  --title-color: #db00ff;
  --accent-text: #000028;
  --focus-button: #ff0070;
  --content-color: #f1b2ce;
  --hover-button: #ff007066;
  --background-color: #000028;
}
