@media (prefers-color-scheme: dark) {

  :root {
    --background-image: url(../images/cover-image-dark.png);
    --rec-display: block;
  }
}

:root.theme-dark {
  --background-image: url(../images/cover-image-dark.png);
  --accent-color: #ff0070;
  --title-color: #db00ff;
  --section-title-color: #ff0070;
  --accent-text: #000028;
  --content-color: #f1b2ce;
  --menu-button-color: #ff0070;
  --hover-button: #ff007066;
  --button-active-color: #ff0070;
  --page-bg-color: #000028;
  --focus-button: #ff0070;
  --decor-color: #ff0070;
  --rec-display: block;
}
