@media (prefers-color-scheme: light) {
  :root {
    --background-image: url(../images/cover-image-light.png);
    --accent-color: #ff8dcb;
    --title-color: #ffc2e6;
    --accent-text: #353430;
    --content-color: #353430;
    --menu-button-color: #353430;
    --button-active-color: #353430;
    --hover-button: #32312d66;
    --focus-button: #353430;
    --background-color: #fff1f7;
    --section-title-color: #353430;
    --decor-color: #353430;
    --rec-display: none;
  }
}

:root.theme-light {
  --background-image: url(../images/cover-image-light.png);
  --accent-color: #ff8dcb;
  --title-color: #ffc2e6;
  --accent-text: #353430;
  --content-color: #353430;
  --menu-button-color: #353430;
  --button-active-color: #353430;
  --hover-button: #32312d66;
  --focus-button: #353430;
  --background-color: #fff1f7;
  --section-title-color: #353430;
  --decor-color: #353430;
  --rec-display: none;
}
