.page {
  background-image: var(
    --background-image,
    url(../images/cover-image-dark.png)
  );
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--page-bg-color, #000028);
  background-size: cover;
  min-inline-size: 375px;
  max-inline-size: 1440px;
  display: flex;
  flex-direction: column;
  gap: var(--page-gap, 40px);
}

.content-text {
  font-family: 'IBM Plex Mono', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
}

.header {
  block-size: 100vh;
  min-block-size: 668px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr min-content 1fr;
  align-content: center;
  padding: var(--paddings, 10px);
  position: relative;
  gap: 8.3vh;
}

.rec {
  position: absolute;
  display: var(--rec-display, block);
  inset-inline-end: calc(var(--paddings, 10px) + 9px);
  inset-block-start: var(--paddings, 10px);
  color: #ff0070;
  line-height: 25px;
}

.rec::after {
  content: '';
  display: inline-block;
  height: 11px;
  width: 11px;
  padding: 2px;
  margin-left: 10px;
  -moz-border-radius: 7.5px;
  -webkit-border-radius: 7.5px;
  border-radius: 7.5px;
  background-color: #ff0070;
  box-shadow: 0 0 4px 2px #ff0070;
}

.decorated-zone::before,
.decorated-zone::after {
  content: '';
  position: absolute;
  display: block;
  block-size: 25px;
  inline-size: 25px;
}

.decorated-zone::before {
  inset-inline-start: var(--paddings, 10px);
  inset-block-end: var(--paddings, 10px);
  border-block-end: 1px solid var(--decor-color, #ff0070);
  border-inline-start: 1px solid var(--decor-color, #ff0070);
}

.decorated-zone::after {
  inset-inline-end: var(--paddings, 10px);
  inset-block-start: var(--paddings, 10px);
  border-block-start: 1px solid var(--decor-color, #ff0070);
  border-inline-end: 1px solid var(--decor-color, #ff0070);
}

.header__theme-menu {
  align-self: end;
  justify-self: end;
  padding-bottom: 10px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  background-color: transparent;
  border: none;
  width: 70px;
  color: var(--menu-button-color, #ff0070);
  text-transform: lowercase;
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-bottom: 1px solid var(--focus-button, #ff0070);
}

.header__theme-menu-button:hover:not(.header__theme-menu-button_active) {
  outline: 1px solid var(--hover-button, #ff007066);
  cursor: pointer;
}

.header__theme-menu-button_active {
  border: 1px solid var(--button-active-color, #ff0070);
}

.body {
  display: flex;
  gap: var(--body-gap, 50px);
  flex-direction: column;
  padding: 0 var(--paddings, 10px);
}

.section {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.content-card-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.main-title {
  font-family: 'IBM Plex Mono', sans-serif;
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  color: var(--title-color, #db00ff);
  text-shadow: 4px 4px 0 var(--accent-color);
}

.text {
  font-family: 'IBM Plex Mono', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  display: block;
}

.link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.link:hover {
  border-bottom: 1px solid var(--content-color, #f1b2ce);
}

.link:focus-visible {
  outline: 1px solid var(--content-color, #f1b2ce);
}

.section__title {
  color: var(--section-title-color, #ff0070);
}

.title-decor {
  background-color: var(--accent-color, #ff0070);
  color: var(--accent-text, #000028);
  block-size: fit-content;
}

.content-decor {
  color: var(--content-color);
}

.advice-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.galery {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--paddings, 10px);
}

.section-galery {
  display: flex;
  flex-direction: column;
  gap: var(--paddings, 10px);
}

.galery__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer {
  block-size: max(100vh, 668px);
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: calc(-1 * var(--page-gap)); /* убрал gap у футера*/
}

.footer__title {
  text-shadow: 2px 2px 0 var(--accent-color, #ff0070);
}

.footer::after,
.footer::before {
  content: '';
  position: absolute;
  display: block;
  block-size: 25px;
  inline-size: 25px;
}

@media (width >= 768px) {

  :root {
    --page-gap: 60px;
    --paddings: 20px;
    --body-gap: 80px;
  }

  .header {
    grid-template-columns: 1fr;
    padding-left: 0;
    gap: 16vh;
  }

  .main-title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__desc {
    width: calc(100vw / 2 - 20px);
    justify-self: end;
  }

  .section {
    grid-template-columns: 1fr 2fr;
  }

  .card-why {
    grid-column: 2/3;
  }

  .card-what {
    grid-column: 1/4;
  }

  .card-how {
    grid-column: 2/3;
  }

  .section-how__heading {
    grid-column: 1;
    grid-row: 1/7;
  }

  .advices-heading {
    grid-column: 2/3;
  }

  .galery {
    display: grid;
    grid-template-columns: 1fr 30vw 1fr;
    grid-template-rows: 25vw 30vw 1fr;
  }

  .galery__image-sunset {
    grid-row: 1;
    grid-column: 1/3;
  }

  .galery__image-ice-cream {
    grid-column: 3/4;
    grid-row: 1/3;
  }

  .galery__image-tape {
    grid-column: 1;
    grid-row: 2/4;
  }

  .galery__image-street {
    grid-column: 2/4;
    grid-row: 3;
  }

  .galery__image-books {
    grid-column: 2/3;
    grid-row: 2/3;
  }
}

@media (width >= 1024px) {

  .section {
    grid-template-columns: repeat(3, 1fr);
  }

  .card-why {
    grid-column: 2/4;
  }

  .card-how {
    grid-column: 2/4;
  }

  .advices-heading {
    grid-column: 2/4;
  }

  .card-what {
    grid-column: auto;
    grid-row: 2;
  }

  .section-what__heading {
    grid-template-columns: 1/2;
  }

  .galery {
    grid-template-columns: 1fr 30.8vw 1fr;
    grid-template-rows: 25vw 30.8vw 1fr;
  }

  .header {
    gap: 15vh;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .header__theme-menu {
    align-self: start;
    justify-self: center;
    padding-left: 20px;
  }
}
